{#
/**
 * @file
 * Default theme implementation for a custom block.
 *
 * @ingroup templates
 */
#}

<h2>{{ title }}</h2>
<div class="custom-items">
    <ul class="nav-items">
    {% for item in items %}
        <li class="{{ item.class }}">{{ item.link }}</li>
    {% endfor %}
    </ul>
</div>
